<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="idiFrameworkSection" type="IDI.Framework.Configuration.IDIFrameworkSection, IDI.Framework"/>
  </configSections>

  <idiFrameworkSection>
      <speechRecognition culture="es" name="IDI" executeCommandPhrase="Por favor" useKinectAudioSource="False"/>
      <speechSynthesizer name="Microsoft Anna"/>
  </idiFrameworkSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
